@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/background-design/background-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: 'zabars', sans-serif;
}

canvas {
    background-color: black;
}

h1 {
    font-size: 64px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}